<div>
    <div>
        <h3>jpshackelford</h3>
        <img src="../static/media/bros.jpg" />
    </div>

    <div>
        <h3>About</h3>
        <p><small>{{site.info.about}}</small></p>
    </div>

    <div>
        <h3>Pages</h3>
        <ul>
            <li><a href=""/>stories</li>
            <li><a href=""/>résumé</li>
        </ul>
    </div>


    <div>
        <h3>Elsewhere</h3>
        <ul class="list-unstyled">
            {{#with site.info.extra}}
            {{#if github }}<li><a href="{{github}}">GitHub</a></li>{{/if}}
            {{/with}}
        </ul>
    </div>

</div>