<!DOCTYPE html>
<html>

<head>
    {{! Use the formatter.title and formatter.description in the head }}
    <title>{{page.head.title}} | {{site.info.title}}</title>
    {{#if page.head.description}}
    {{! Only render the description if it exists }}
    <meta name="description" content="{{page.head.description}}">
    {{/if}}
    
    <!-- Pico CSS -->    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1.5.10/css/pico.min.css" 
        integrity="sha256-AmkBgnWRWgRJIBCpCCmwuc/mbOWTWKepkFXimo1nQqk=" crossorigin="anonymous">
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.5.3/dist/floating-ui.dom.umd.min.js" 
        integrity="sha256-/bAnrvC2aKFvpCQ8v9sTDxGzyC8vVoyp/F7vmjcNcEM=" crossorigin="anonymous"></script>
    
</head>

<body>

            