<aside class="sidebar container">
    <section>
        <h3>jpshackelford</h3>
        <img src="../static/media/bros.jpg" />
    </section>

    <section>
        <h4>About</h4>
        <small>{{site.info.about}}</small>
    </section>

    <section>
        <h4>Pages</h4>
        <ul>
            <li><a href=""/>stories</li>
            <li><a href=""/>résumé</li>
        </ul>
    </section>


    <section>
        <h4>Elsewhere</h4>
        <ul class="list-unstyled">
            {{#with site.info.extra}}
            {{#if github }}<li><a href="{{github}}">GitHub</a></li>{{/if}}
            {{/with}}
        </ul>
    </section>

</aside>