{{! This adds the HTML head section and the beginning of the body. See content_top.hbs. }}
{{> content_top }}


{{> navbar }}
<main class="container">
    <div class="container">
 
    </div>
    <div class="grid">
        <div> <!-- main col 1-->

            {{#each (blogs site.pages)}}
                <article>
                    {{#if page.head}}
                        {{#if page.head.title}}
                            <header>{{page.head.title}}</header>
                        {{/if}}
                        
                        {{! Since this is HTML, we use the triple-curly }}
                        {{{page.body}}}

                        {{#if page.head.date}}
                            <footer>{{date_format ../site.info.extra.date_style page.head.date}}</footer>
                        {{/if}}
                    {{/if}} 
                </article>
            
            {{/each}}

        </div><!-- end col 1 -->
        <div><!-- sidebar col 2 -->
            {{! This adds the sidebar }}
            {{> content_sidebar }}
        </div><!-- end col 2 -->
    </div>
</main>

{{! This closes the body. See content_bottom.hbs. }}
{{> content_bottom }}